.chart{
  width: 550px;
  height: 200px;
  display: block;
}
.numbers{
  color:#707070;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 100%;
  display: inline-block;
  float: left;
}

.numbers li{
  list-style: none;
  height: 150px;
  position:relative;
  bottom:145px;
}

.numbers span{
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#barsColorChange{
  background: #F1F2F3;
}
.bars{
  color:#707070;
  font-size: 12px;
  font-weight: 600;
  background: white;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 500px;
  height: 300px;
  border-radius: 5px;
}

.bars li{
  display: table-cell;
  width:100px;
  height: 300px;
  position: relative;
}

.bars span{
  width:100%;
  position:absolute;
  bottom: -30px;
  margin-left: 20px;
  text-align: center;
}

.bars .bar{
  display:block;
  background: #FEBEBE;
  width:35px;
  position: absolute;
  bottom: 0;
  margin-left: 25px;
  text-align: center;
  transition: 0.5s;
  transition-property: background;
}

.bars .bar:before{
  color:#707070;;
  content:attr(data-percentage) '%';
  position: relative;
  bottom:20px;
}
