.container {
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.title_logo {
  max-width: 45px;
  width: 100%;
  height: 40px;
  background: transparent url("../img/logo.png") 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  opacity: 1;
}

.title {
  display: flex;
  height: 39px;
  text-align: left;
  font: normal normal bold 20px/39px Han Santteut Dotum;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
  margin: 5px;
}
.login_wrap {
  display: flex;
  margin-left: 25px;
}

.login {
  text-align: center;
  font: normal normal bold 14px/26px Arial;
  letter-spacing: 0px;
  color: #707070;
  opacity: 0.4;
  list-style: none;
}

.login_img {
  width: 30px;
  height: 30px;
  background: transparent url("../img/Profile-ICon.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: cover;
  list-style: none;
}

.banner {
  width: 100%;
  height: 150px;
  background-image: url("../img/puppy6.png");
  background-size: cover;
  opacity: 1;
}

.banner > div {
  position: absolute;
  width: 20%;
  top: 17%;
  left: 15%;
  font: normal normal bold 30px/34px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.header {
  display: flex;
  width: 100%;
  margin: auto;
  background: white;
}

.main {
  left: 15%;
  width: 70%;
  height: 100%;
  background: white 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.back {
  left: 0px;
  width: 100%;
  height: 120%;
  background: #efefef 0% 0% no-repeat padding-box;
  opacity: 1;
  filter: blur(undefined);
  margin: 0 auto;
  position: relative;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: calc(1980px - 300px);
  list-style: none;
  font-size: 14px;
}

.nav > li {
  margin-left: 25px;
}

.login_wrap > li {
  margin-left: 25px;
}

a {
  text-decoration: none;
  color: #707070;
}

.all {
  position: relative;
  width: 25%;
  height: 200px;
  line-height: 10%;
  margin-top: 50px;
  padding-left: 6%;
  padding-right: 0;
}

.all2 {
  position: relative;
  width: 25%;
  height: 200px;
  line-height: 10px;
  margin-top: 100px;
  padding-left: 11%;
}

.flex {
  display: flex;
}

.pic {
  width: 100%;
  height: 100%;
  background: url("../img/dog walking2.png");
  background-size: cover;
}
.pic2 {
  width: 102%;
  height:100%;
  background: url("../img/강아지목줄.png");
  background-size: cover;
}

.date {
  text-align: left;
  font: normal normal bold 15px/23px Arial;
  line-height: 150%;
  color: #707070;
  opacity: 0.5;
}

.small_title {
  text-align: left;
  font: normal normal bold 30px/33px Han Santteut Dotum;
  line-height: 150%;
  color: #707070;
  opacity: 1;
}

.small_text {
  text-align: left;
  font: normal normal normal 15px/26px Han Santteut Dotum;
  letter-spacing: 0px;
  line-height: 150%;
  color: #707070;
  opacity: 1;
}

.more {
  text-align: left;
  font: normal normal bold 20px/23px Arial;
  letter-spacing: 0px;
  line-height: 150%;
  color: #ff8282;
  opacity: 1;
}

.more a {
  color: #ff8282;
}

.board_list_wrap {
  padding-top: 3%;
  padding-left: 7%;
  align-content: center;
}

.board_list {
  width: 90%;
  border-spacing: 15px;
}

.board_list th,
.board_list td {
  padding: 0px;
  border-bottom: 1px solid #999;
  font-size: 15%;
}

.board_list th {
  text-align: center;
  font: normal normal normal Han Santteut Dotum;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  top: 15%;
  font-size: 40px;
}

.board_list td {
  position: relative;
  text-align: start;
  font: normal normal normal Han Santteut Dotum;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
	font-size:40px;
}

tbody {
  display: flex;
}

#button_w {
  margin-left:-30vw;
  background-color: #ff8282;
  color: white;
  border-color: #ff8282;
  padding: 4px 10px;
}
