h1{
  font-size: 48px;
  font-weight: 100;
}

.contents2{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  color:#707070;
}

.contents6{
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #FF8282;
}

.contents4{
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: lighter;
  opacity: 0.62;
  color:#707070;
}

/* --- */

.result{
  font-size: 24px;
}

/* intro start */
.intro_bg{
  background-image: url("../image3/dog8.png");
  background-size: cover;
  width:100%;
  height: 182px;
}


.intro_text{
  width:100%;
  padding-top: 79px;
  margin: 0px auto 100px auto;
  text-align: center;
}

.intro_text > h1,
.intro_text > h4{
  color: white;
}
/* intro end */

#bgcolor_change{
  background: #F1F2F3;
}
.main_text0{
  width: 100%;
  height: 648px;
  background: white;
}

.main_text0 > h1{
  padding-top: 116px;
  text-align: center;
}

.main_text0 > .contents1{
  text-align: center;
}
.main_text0 > .icons > li > .icon_img > img{
  width: 200px;
  height: 200px;
  text-align: center;
  margin-left: 40px;
  margin-top: 25px;
}

.icons{
  background: white;
  display: flex;
  width: 1280px;
  height: 648px;
  margin: auto;
}

.icons > li{
  margin-top:40px;
}

.icons > li:not(:last-child){
  margin-right: 20px;
}

#profile_contents1{
  padding: 20px;
  margin-left: 70px;
  padding-right: 0;
  margin-right: 0;
}

#profile_contents2{
  border-right:1px solid #E1E1E1;
  padding: 20px;
  width:300px;
  margin-left: 0;
}

#profile_li1{
  margin-right: 0;
}

#profile_person{
  margin-bottom: 30px;
}

#level3{
  margin-left:150px;
}
